<footer class="bg-light mt-5 class=text-primary">
  <div class="container">
    <div class="d-flex justify-content-center py-3">
      <ul class="list-inline mb-0">
        <li class="list-inline-item">
          <a href="{{site.github_url}}" title="Afosto op github" target="_blank" rel="noopener" class="text-primary">
            {%- include icons/github.svg class="navbar-social-icon" -%}
          </a>
        </li>
        <li class="list-inline-item">
          <a href="{{site.twitter_url}}" title="Afosto op twitter" target="_blank" rel="noopener" class="text-primary">
            {%- include icons/twitter.svg class="navbar-social-icon" -%}
          </a>
        </li>
        <li class="list-inline-item">
          <a href="{{site.facebook_url}}" title="Afosto op facebook" target="_blank" rel="noopener" class="text-primary">
            {%- include icons/facebook.svg class="navbar-social-icon" -%}
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
