{%- assign default_paths = site.pages | map: "path" -%}
{%- assign page_paths = site.header_pages | default: default_paths -%}

<nav class="navbar navbar-expand navbar-dark bg-primary flex-column flex-md-row" id="main-navbar">
  <a class="navbar-brand mr-0" href="{{site.url}}" title="Go back to te homepage">
    <img src="{{ site.url | append: '/assets/img/afosto-logo-white.svg' }}" width="142.14px" height="32px" title="Afosto logo" alt="Afosto logo">
  </a>
  <div class="main-nav">
    <ul class="navbar-nav">
      {%- for item in site.data.main_nav -%}

      {%- assign active = nil -%}
      {%- assign page_parent = page.parent|downcase -%}
      {%- assign item_label = item.label|downcase -%}

      {%- if page_parent == item_label -%}
        {%- assign active = 'active' -%}
      {%- endif -%}

      <li class="nav-item{% unless active == nil %} {{ active }}{% endunless %}">
        <a class="nav-link" href="{{ site.url | append: item.slug }}" title="{{item.title}}">
          {{ item.label }}
        </a>
      </li>
      {%- endfor -%}
    </ul>
  </div>
  <form class="af-doc-search ml-md-auto">
    {%- if page.layout == 'docs' or page.layout == 'plugin' -%}
      <button class="navbar-toggler toggle-sidebar d-block d-md-none mr-2" type="button" data-menu="sidebar" data-menu-action="open">
        <span class="navbar-toggler-icon"></span>
      </button>
    {% endif %}
    <input type="text" class="form-control flex-fill" id="af-doc-search" placeholder="Zoek...">
  </form>
</nav>
<button class="navbar-toggler toggle-sidebar d-flex d-xl-none mr-2 af-menu-backdrop" type="button" data-menu="sidebar" data-menu-action="close-all">
  <div class="navbar-toggler col-2">
    <span>
      &times;
    </span>
  </div>
</button>
