<script src="{{ site.url }}/assets/js/jquery.slim.js"></script>
<script src="{{ site.url }}/assets/js/popper.min.js"></script>
<script src="{{ site.url }}/assets/js/bootstrap.min.js"></script>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>
<script>
  var search = docsearch({
    apiKey: '<API_KEY>', // use a SEARCH-ONLY api key here
    indexName: '<INDEX_NAME>',
    inputSelector: '#af-doc-search',
    debug: false // set to `true` if you want to inspect the dropdown menu's CSS
  });
</script>
