<script type="text/javascript" src="{{ site.url }}/assets/js/jquery.slim.js"></script>
<script type="text/javascript" src="{{ site.url }}/assets/js/popper.min.js"></script>
<script type="text/javascript" src="{{ site.url }}/assets/js/bootstrap.min.js"></script>

<script type="text/javascript" src="{{ site.url }}/assets/js/docsearch.min.js"></script>
<script>
  var search = docsearch({
    apiKey: 'f344efcf92bc53a2f245d2531caeba0a',
    indexName: 'afosto',
    inputSelector: '#af-doc-search',
    debug: false // set to `true` if you want to inspect the dropdown menu's CSS
  });
</script>
