@import "../../../node_modules/docsearch.js/dist/npm/styles/variables";
@import "../../vendor/doc-search-variables";
@import "../../../node_modules/docsearch.js/dist/npm/styles/dropdown";
@import "../../../node_modules/docsearch.js/dist/npm/styles/searchbox";

$searchbox: true !default;

@if ($searchbox == true) {
  @include searchbox($searchbox-config...);
}

@include dropdown($dropdown-config...);


/* stylelint-disable declaration-no-important */

.algolia-autocomplete {
  .ds-dropdown-menu {
    @include media-breakpoint-down(sm) {
      width: calc(100vw - 15px);
      min-width: 0 !important;
    }
  }

  .algolia-docsearch-footer {
    float: none !important;
    width: auto !important;
    height: auto !important;
    padding: .75rem 1rem 0;
    font-size: .75rem !important;
    line-height: 1 !important;
    color: #767676 !important;
    border-top: 1px solid rgba(0, 0, 0, .1);
  }

  .algolia-docsearch-footer--logo {
    display: inline !important;
    overflow: visible !important;
    color: inherit !important;
    text-indent: 0 !important;
    background: none !important;
  }
}

.home-search {
  .algolia-autocomplete {
    display: block !important;
    
    .form-control {
      &[aria-expanded="true"] {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }
        
      &:focus {
        ~ .ds-dropdown-menu [class^="ds-dataset-"] {
          border-color: theme-color("info");
        }
      }
    }
    
    .ds-dropdown-menu {
      left: 0 !important;
      margin-top: -1px !important;

      @include media-breakpoint-down(sm) {
        width: 100%;
        min-width: 0 !important;
      }

      [class^="ds-dataset-"] {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
      
      &::before {
        display: none;
      }
      
      .algolia-docsearch-footer {
        text-align: right;
      }
    }
  }
}

/* enable-stylelint declaration-no-important */
