.af-content {
  padding-top: 2rem;
  padding-bottom: 2rem;

  //stylelint-disable selector-no-qualifying-type
  > h2,
  > h3,
  > h4 {
    pointer-events: none;

    > div,
    > a {
      pointer-events: auto;
    }

    &::before {
      display: block;
      height: 6rem;
      margin-top: -6rem;
      visibility: hidden;
      content: "";
      
      @include media-breakpoint-down(sm) {
        height: 9rem;
        margin-top: -9rem;
      }
    }
  }

  > h2:not(:first-child) {
    margin-top: 3rem;
  }

  > h3 {
    margin-top: 1.5rem;
  }

  //stylelint-enable selector-no-qualifying-type
}
