.af-sidebar-toc {
  position: sticky;
  top: 3.625rem;
  height: calc(100vh - 3.625rem);
  padding-top: 1rem;
  padding-bottom: 1rem;
  overflow: auto;
  font-size: 14px;
  border-left: 1px solid $gray-200;
  
  ul {
    padding-left: 0;
    list-style: none;
    
    li {
      display: block;
    }
    
    > li > ul {
      padding-left: .75rem;
    }
  }
  
  a {
    display: block;
    padding: .125rem .75rem;
    color: $gray-500;
    text-decoration: none;
    transition: .1s ease;
    
    &:hover {
      color: theme-color(primary);
    }
  }
}
