$toc-level-padding: .75rem;

.af-sidebar-toc {
  position: sticky;
  top: 3.625rem;
  height: calc(100vh - 3.625rem);
  padding-top: 1rem;
  padding-bottom: 1rem;
  overflow: auto;
  font-size: 14px;
  
  
  .nav.af-page-toc {
    position: relative;
    display: block;
    padding-left: 0;
    list-style: none;
    border-left: 2px solid theme-color(primary);
    
    .nav-item {
      display: block;
    }
    
    .nav-item > ul {
      padding-left: 0;
      list-style: none;
    }
  }
  
  .nav-link {
    position: relative;
    display: block;
    padding: .125rem $toc-level-padding;
    color: $gray-500;
    text-decoration: none;
    transition: .1s ease;
    
    &::before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 2px;
      content: "";
      background-color: theme-color(primary);
      transition: .1s ease;
      transform: scaleX(0);
      transform-origin: left center;
    }
    
    &:hover {
      color: theme-color(primary);
    }
    
    &.active {
      color: theme-color(primary);
      
      &::before {
        transform: scaleX(1);
      }
    }
  }
  
  .toc-h3 .nav-link {
    padding-left: $toc-level-padding * 2;
  }
  .toc-h4 .nav-link {
    padding-left: $toc-level-padding * 3;
  }
  .toc-h5 .nav-link {
    padding-left: $toc-level-padding * 4;
  }
  .toc-h6 .nav-link {
    padding-left: $toc-level-padding * 5;
  }
}
