<!doctype html>
<html lang="en">
  <head>
    {% include header.html %}
  </head>
  <body data-spy="scroll" data-target="#af-doc-toc">
    {% include navbar.html %}
    <div class="container-fluid">
      <div class="row flex-xl-nowrap">
        <div class="col-12 col-md-3 col-xl-2 af-sidebar">
          {% include doc-sidebar.html %}
        </div>

        {% if page.toc %}
          <div class="order-md-2 col-12 col-md-2 af-sidebar-toc">
            <nav id="af-doc-toc" class="nav">
              {% capture itemClass %}toc-entry.nav-item.toc-h%level%{% endcapture %}
              {% include toc.html html=content class="nav.af-page-toc" item_class=itemClass h_min=2 h_max=4 %}
            </nav>
          </div>
        {% endif %}

        <main class="col-12 col-md-9 col-xl-8 pl-5 af-content" role="main">
          <h1 class="af-title" id="content">{{ page.title | smartify }}</h1>
          <p class="af-lead">{{ page.description | smartify }}</p>
          {{ content }}
        </main>
      </div>
    </div>
    {% include scripts.html %}
  </body>
</html>
